@{
    ViewData["Title"] = "Contact Page";
}

<main>
    <section id="trial">
        <div class="container">
            <div class="full-trial">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="reasons">
                            <h3>Some other great reasons to choose us</h3>
                            <p>Take the first steps towards increased productivity and reduced stress with Strax.</p>
                            <p>
                                We are a highly trained, dedicated team, helping entrepreneurs, professionals, and small teams streamline success - not just in work, but in life too. We help spare your time to focus on the bigger picture by taking care
                                of the little details.
                            </p>
                            <ul>
                                <li><i class="far fa-badge-check"></i> Staff works from our offices in USA</li>
                                <li><i class="far fa-badge-check"></i> Scale up/ down on demand</li>
                                <li><i class="far fa-badge-check"></i> One time or on going projects</li>
                                <li><i class="far fa-badge-check"></i> Hire based on skill set</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="trial-form">
                            <h3>Let's Start Your Free Trial</h3>
                            <form class="trialForm">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 p7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="userName" placeholder="Your Name">
                                            <div class="trialError">Please enter your name</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 p7">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="userMail" placeholder="Your Email">
                                            <div class="trialError">Please enter your email</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 p7">
                                        <div class="form-group">
                                            <input type="tel" class="form-control" id="userPhoneNumber" placeholder="Your Phone">
                                            <div class="trialError">Please enter your number</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 p7 p7">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="userSubject" placeholder="Your Subject">
                                            <div class="trialError">Please enter your subject</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 p7">
                                        <div class="form-group">
                                            <textarea id="trialTextArea" type="text" class="form-control" id="userSubject" cols="30" rows="6" placeholder="Your Message"></textarea>
                                            <div class="trialError">Write your message</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 p7">
                                        <div class="form-group">
                                            <button id="trialBtn" type="submit"><i class="fal fa-paper-plane"></i> Send Message</button>
                                            <div class="trialErrorSubmit">Did you fill in the form properly?</div>
                                            <div class="submitSuccess">Message Submitted!</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="contact-with-us-full">
                    <div class="contact-with-us">
                        <h3>Contact us by Phone Number or Email Address</h3>
                        <div class="num-mail">
                            <a class="phoneA" href="~/tel:+088 130 629 8615">+088 130 629 8615</a>
                            <span>OR</span>
                            <a class="mailA" href="~/mailto:hello@strax.com">hello@strax.com</a>
                        </div>
                        <ul class="trial-socials">
                            <li>
                                <a href="~/#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="~/#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="client-title">
                        <h2>Our Loving Clients</h2>
                    </div>
                </div>
            </div>

            <div class="clients">
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/1.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/2.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/3.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/4.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/5.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/6.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/7.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/8.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/9.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>