@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="features-cards">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-delay="500">
                    <div class="F-card">
                        <i class="fal fa-comments-alt"></i>
                        <h3><a href="~/#">IT Consultancy</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-delay="700">
                    <div class="F-card">
                        <i class="fal fa-laptop"></i>
                        <h3><a href="~/#">Web Development</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-delay="800">
                    <div class="F-card">
                        <i class="fas fa-badge-check"></i>
                        <h3><a href="~/#">IT Solutions</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-delay="900">
                    <div class="F-card">
                        <i class="fas fa-megaphone"></i>
                        <h3><a href="~/#">Digital Marketing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="ux-ui-design">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ux-ui-content-1">
                        <div class="ux-ui-icon-img-div">
                            <img src="~/img/Home-Img/icon1.png" alt="">
                        </div>
                        <h2>UX / UI Design</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <div class="row ux-ui-inner-row">
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>Mobile App Design
                                </div>
                            </div>
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>Web Design
                                </div>
                            </div>
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>eCommerce Design
                                </div>
                            </div>
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>Product Design
                                </div>
                            </div>
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>UX / UI Design
                                </div>
                            </div>
                            <div class="col-sm-6 ux-ui-inner-col">
                                <div class="feature-box">
                                    <i class="fas fa-badge-check"></i>Business Card Design
                                </div>
                            </div>

                        </div>
                        <a href="~/#"><i class="fas fa-list-alt"></i>Learn More</a>
                    </div>
                </div>
                <div class="col-lg-6 ux-ui-content-2-col justify-content-center">
                    <div class="ux-ui-content-2">
                        <div class="ux-ui-img-div" data-aos="slide-left" data-aos-once="true" data-aos-delay="500">
                            <img src="~/img/Home-Img/service3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="dijital-marketing">
        <div class="container-fluid dm-container">
            <div class="row">
                <div class="col-lg-6 dm-col-1 justify-content-center">
                    <div class="dm-content-1">
                        <div class="dm-img-div" data-aos="slide-right" data-aos-once="true" data-aos-delay="500">
                            <img src="~/img/Home-Img/service4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 dm-col-2">
                    <div class="dm-content-2">
                        <div class="dm-icon-img-div">
                            <img src="~/img/Home-Img/icon1.png" alt="">
                        </div>
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <div class="row dm-inner-row">
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>SEO Marketing
                                </div>
                            </div>
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>Email Marketing
                                </div>
                            </div>
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>Facebook Marketing
                                </div>
                            </div>
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>Data Scraping
                                </div>
                            </div>
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>Social Marketing
                                </div>
                            </div>
                            <div class="col-sm-6 dm-inner-col">
                                <div class="dm-box">
                                    <i class="fas fa-badge-check"></i>Youtube Marketing
                                </div>
                            </div>

                        </div>
                        <a href="~/#"><i class="fas fa-list-alt"></i>Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="amazing-future">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="amazing-title">
                        <h2>
                            Our Amazing Features
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                    <div class="inner-full-col">
                        <div class="icon-div">
                            <i class="fal fa-comments-alt"></i>
                        </div>
                        <h3>IT Consultancy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before">
                            <i class="fal fa-comments-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="100">
                    <div class="inner-full-col">
                        <div class="icon-div icon-div2">
                            <i class="fas fa-badge-check"></i>
                        </div>
                        <h3>IT Solutions</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before icon-before2">
                            <i class="fas fa-badge-check"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
                    <div class="inner-full-col">
                        <div class="icon-div icon-div3">
                            <i class="fas fa-th-large"></i>
                        </div>
                        <h3>Simple Dashboard</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before icon-before3">
                            <i class="fas fa-th-large"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300" data-aos-offset="0">
                    <div class="inner-full-col">
                        <div class="icon-div icon-div4">
                            <i class="fas fa-bell"></i>
                        </div>
                        <h3>Deadline Reminders</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before icon-before4">
                            <i class="fas fa-bell"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="400" data-aos-offset="0">
                    <div class="inner-full-col">
                        <div class="icon-div icon-div5">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <h3>Information Retrieval</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before icon-before5">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" data-aos-offset="0">
                    <div class="inner-full-col">
                        <div class="icon-div icon-div6">
                            <i class="far fa-cog"></i>
                        </div>
                        <h3>Flexible Functionality</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="icon-before icon-before6">
                            <i class="far fa-cog"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients-about-strax">
        <div class="container">
            <div class="cas-title">
                <h2>Whats Our Clients Said About<span> Strax</span></h2>
            </div>
            <div class="cas-carusel owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <div class="cas-item">
                                <div class="cas-info">
                                    <img src="~/img/Home-Img/micheal.jpeg" alt="">
                                    <h3>Michel John</h3>
                                    <span>CEO at Envato</span>
                                </div>
                                <div class="cas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="cas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="cas-item">
                                <div class="cas-info">
                                    <img src="~/img/Home-Img/sarah.jpeg" alt="">
                                    <h3>Sarah Taylor</h3>
                                    <span>CEO at EnvyTheme</span>
                                </div>
                                <div class="cas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="cas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="cas-item">
                                <div class="cas-info">
                                    <img src="~/img/Home-Img/james.jpeg" alt="">
                                    <h3>James Andy</h3>
                                    <span>CEO at 3S</span>
                                </div>
                                <div class="cas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="cas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title">
                        <h2>Why Choose Us To Watch This Video Know More</h2>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="video">
                        <img class="video-img" src="~/img/Home-Img/video-bg.jpeg" alt="">
                        <a class="play-btn video-play-btn" href="~/https://www.youtube.com/watch?v=HmfJqm9P7Ks"><i class="fas fa-play"></i></a>
                        <div class="shape-1 shapes">
                            <img src="~/img/shapes/shape-1.png" alt="">
                        </div>
                        <div class="shape-2 shapes">
                            <img src="~/img/shapes/shape-2.png" alt="">
                        </div>
                        <div class="shape-3 shapes">
                            <img src="~/img/shapes/shape-3.png" alt="">
                        </div>
                        <div class="shape-4 shapes">
                            <img src="~/img/shapes/shape-4.png" alt="">
                        </div>
                        <div class="shape-5 shapes">
                            <img src="~/img/shapes/shape-5.png" alt="">
                        </div>
                        <div class="shape-6 shapes">
                            <img src="~/img/shapes/shape-6.png" alt="">
                        </div>
                    </div>
                    <div class="v-counters">
                        <div class=" wrapperforslide" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-lg-3">
                                    <div class="v-counter-item">
                                        <i class="fal fa-tasks"></i>
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Completed Projects</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="100">
                                    <div class="v-counter-item">
                                        <i class="fal fa-smile"></i>
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="200">
                                    <div class="v-counter-item">
                                        <i class="fal fa-globe"></i>
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Ongoing Projects</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
                                    <div class="v-counter-item">
                                        <i class="fal fa-award"></i>
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Winning Awards</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="questions" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="800">
                                    <h3>Have any question about us?</h3>
                                    <p>Don't hesitate to contact us.</p>
                                    <a id="import" href="~/#"><i class="fas fa-pencil-alt"></i>Contact Us</a>
                                </div>
                            </div>

                        </div>
                        <div class="shape-map shapes"><img src="~/img/shapes/shape-map.png" alt=""></div>
                        <div class="shape-7 shapes"><img src="~/img/shapes/shape-7.png" alt=""></div>
                        <div class="shape-8 shapes"><img src="~/img/shapes/shape-8.png" alt=""></div>
                        <div class="shape-9 shapes"><img src="~/img/shapes/shape-9.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="price-plan">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 head-title">
                    <h2>Choose The Pricing Plan</h2>
                </div>
                <div class="plan-item-full">
                    <div class="plan-head-item">
                        <ul class="active-deactive-item">
                            <li><a class="subsBtn activeBtn" href="~/#"><i class="fas fa-calendar-check"></i> Monthly</a></li>
                            <li><a class="subsBtn" href="~/#"><i class="fas fa-calendar-check"></i> Yearly</a></li>
                        </ul>
                        <div class="plan-item-contents">
                            <div class="plan-item plan-item-first">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="inner-plan-item">
                                            <div class="head-price">
                                                <h3>Free</h3>
                                            </div>
                                            <div class="price">
                                                <sup>$</sup>0 <sub>/ monthly</sub>
                                            </div>
                                            <ul class="features">
                                                <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                            </ul>
                                            <div class="item-btn">
                                                <a class="change-color" href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="inner-plan-item">
                                            <div class="head-price">
                                                <h3>Starter</h3>
                                            </div>
                                            <div class="price">
                                                <sup>$</sup>49 <sub>/ monthly</sub>
                                            </div>
                                            <ul class="features">
                                                <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                            </ul>
                                            <div class="item-btn">
                                                <a class="change-color" href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4 make-it-offset">
                                        <div class="inner-plan-item">
                                            <div class="head-price">
                                                <h3>Professional</h3>
                                            </div>
                                            <div class="price">
                                                <sup>$</sup>79 <sub>/ monthly</sub>
                                            </div>
                                            <ul class="features">
                                                <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                            </ul>
                                            <div class="item-btn">
                                                <a class="change-color " href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="transitioned-item-div">
                                <div class="plan-item plan-item-second">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <div class="inner-plan-item">
                                                <div class="head-price">
                                                    <h3>Free</h3>
                                                </div>
                                                <div class="price">
                                                    <sup>$</sup>0 <sub>/ yearly</sub>
                                                </div>
                                                <ul class="features">
                                                    <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                    <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                    <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                    <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                    <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                    <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                    <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                    <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                                </ul>
                                                <div class="item-btn">
                                                    <a class="change-color" href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <div class="inner-plan-item">
                                                <div class="head-price">
                                                    <h3>Starter</h3>
                                                </div>
                                                <div class="price">
                                                    <sup>$</sup>79 <sub>/ yearly</sub>
                                                </div>
                                                <ul class="features">
                                                    <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                    <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                    <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                    <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                    <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                    <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                    <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                    <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                                </ul>
                                                <div class="item-btn">
                                                    <a class="change-color" href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-4 make-it-offset">
                                            <div class="inner-plan-item">
                                                <div class="head-price">
                                                    <h3>Professional</h3>
                                                </div>
                                                <div class="price">
                                                    <sup>$</sup>99 <sub>/ yearly</sub>
                                                </div>
                                                <ul class="features">
                                                    <li>Up to 3 chat operators <i class="fas fa-badge-check"></i></li>
                                                    <li>100 ChatBot Triggers <i class="fas fa-badge-check"></i></li>
                                                    <li>24/7 Live Chat <i class="fas fa-badge-check"></i></li>
                                                    <li>Email Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Messenger Integration <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Info <i class="fas fa-badge-check"></i></li>
                                                    <li>Mobile + Desktop Apps <i class="fas fa-badge-check"></i></li>
                                                    <li>Quick Responses <i class="fas fa-badge-check"></i></li>
                                                    <li>Drag & Drop Widgets <i class="fas fa-badge-check"></i></li>
                                                    <li>Visitor Notes <i class="fas fa-badge-check"></i></li>
                                                    <li>Google Analytics <i class="fas fa-badge-check"></i></li>
                                                </ul>
                                                <div class="item-btn">
                                                    <a class="change-color" href="~/#"><i class="fab fa-hotjar"></i> Try It Free Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experts" class="home-experts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="experts-title">
                        <h2>Meet Our experts always ready to help you</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="0">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Home-Img/alex.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Alex Maxwel</h3>
                            <span class="colored-span">CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Home-Img/seringul.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Sarah Taylor</h3>
                            <span class="colored-span">UX/UI Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="600">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Home-Img/brusli.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Lee Munroe</h3>
                            <span class="colored-span">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" data-aos-delay="900">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Home-Img/calvin.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Calvin Klein</h3>
                            <span class="colored-span">Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="strax-accardion">
        <div class="container-fluid accardion-cont">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="accardion-full">
                        <div class="title-of-accardion">
                            <h2>Get to know about<span> Strax</span></h2>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What access do I have on the free plan?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What access do I have on a free trial?</button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Does the price go up as my team gets larger?</button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How can I cancel/pause my subscription?</button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I pay via an invoice?</button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 a-Img-col">
                    <div class="strax-accardion-img">
                        <img src="~/img/Home-Img/accardion-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="latest-news">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="news-title">
                        <h2>Our Latest News</h2>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="news">
                        <div class="news-img">
                            <a href="~/#"><img src="~/img/Home-Img/news-img-1.jpeg" alt=""></a>
                            <div class="date">
                                <i class="fal fa-calendar-alt"></i>
                                <span>Oct 14, 2021</span>
                            </div>
                        </div>
                        <div class="news-text">
                            <h3>
                                <a href="~/#">50 world-changing people, We lost in the 2010s</a>
                            </h3>
                            <div class="news-info">
                                <div class="news-owner">
                                    <div class="owner-img">
                                        <img src="~/img/Home-Img/news-1.jpeg" alt="">
                                    </div>
                                    <span>John Lopez</span>
                                </div>
                                <div class="full-info-btn">
                                    <a href="~/#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="news">
                        <div class="news-img">
                            <a href="~/#"><img src="~/img/Home-Img/news-micheal.jpeg" alt=""></a>
                            <div class="date">
                                <i class="fal fa-calendar-alt"></i>
                                <span>Oct 16, 2021</span>
                            </div>
                        </div>
                        <div class="news-text">
                            <h3>
                                <a href="~/#">Don't buy a tech gift until you read these rules</a>
                            </h3>
                            <div class="news-info">
                                <div class="news-owner">
                                    <div class="owner-img">
                                        <img src="~/img/Home-Img/news-micheal-profile.jpeg" alt="">
                                    </div>
                                    <span>Michel John</span>
                                </div>
                                <div class="full-info-btn">
                                    <a href="~/#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="news">
                        <div class="news-img">
                            <a href="~/#"><img src="~/img/Home-Img/news-someone.jpeg" alt=""></a>
                            <div class="date">
                                <i class="fal fa-calendar-alt"></i>
                                <span>Oct 18, 2021</span>
                            </div>
                        </div>
                        <div class="news-text">
                            <h3>
                                <a href="~/#">The golden rule of buying a phone as a gift</a>
                            </h3>
                            <div class="news-info">
                                <div class="news-owner">
                                    <div class="owner-img">
                                        <img src="~/img/Home-Img/news-someone-profile.jpeg" alt="">
                                    </div>
                                    <span>Lucy Eva</span>
                                </div>
                                <div class="full-info-btn">
                                    <a href="~/#"><i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="under-news">
                        <p>
                            Insights to help you do what you do better, faster and more profitably.<a href="~/#"> Read Full Blog</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe">
        <div class="container">
            <div class="full-subscribe">
                <div class="subscribe-title">
                    <h2>We always try to be the best support to you as possible</h2>
                </div>
                <form>
                    <div class="row align-items-center rowforer">
                        <div class="col-md-8 col-lg-8 pad-7">
                            <input class="form-control" type="email" placeholder="hello@strax.com" name="subscribe" autocomplete="off">
                        </div>
                        <div class="col-md-4 col-lg-4 pad-7">
                            <button type="submit"><i class="fab fa-hotjar"></i> Subscribe Now</button>
                        </div>
                        <div class="col-sm-12">
                            <div class="process-info">
                                <p>Please enter your email correctly.</p>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="shape-13 shapes"><img src="~/img/shapes/shape-13.png" alt=""></div>
                <div class="shape-14 shapes"><img src="~/img/shapes/shape-14.png" alt=""></div>
                <div class="shape-15 shapes"><img src="~/img/shapes/shape-15.png" alt=""></div>
                <div class="shape-16 shapes"><img src="~/img/shapes/shape-16.png" alt=""></div>
                <div class="shape-17 shapes"><img src="~/img/shapes/shape-17.png" alt=""></div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="client-title">
                        <h2>Our Loving Clients</h2>
                    </div>
                </div>
            </div>

            <div class="clients">
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/1.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/2.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/3.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/4.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/5.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/6.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/7.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/8.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/9.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</main>