@{
    ViewData["Title"] = "Team Page";
}


<main>
    <section id="experts" class="about-expetrs">
        <div class="container pad-t-team-container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-man.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Alex Maxwel</h3>
                            <span class="colored-span">CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-girl.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Sarah Taylor</h3>
                            <span class="colored-span">UX/UI Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-mature.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Lee Munroe</h3>
                            <span class="colored-span">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/maniac.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Calvin Klein</h3>
                            <span class="colored-span">Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Team/team-1.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Michel Lucy</h3>
                            <span class="colored-span">UX/UI Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Team/team-2.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Steven Smith</h3>
                            <span class="colored-span">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Team/team-3.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Meg Lanning</h3>
                            <span class="colored-span">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/Team/team-4.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>John Trent</h3>
                            <span class="colored-span">Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="client-title">
                        <h2>Our Loving Clients</h2>
                    </div>
                </div>
            </div>

            <div class="clients">
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/1.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/2.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/3.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/4.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/5.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/6.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/7.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/8.png" alt=""></a>
                </div>
                <div class="client">
                    <a href="~/#"><img src="~/img/Home-Img/9.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about-clients-about-strax">
        <div class="container">
            <div class="acas-title">
                <h2>Whats Our Clients Said About<span> Strax</span></h2>
            </div>
            <div class="acas-carusel owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <div class="acas-item">

                                <img src="~/img/about-img/woman1.png" alt="">

                                <div class="acas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="acas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="acas-info">
                                        <h3>Michel John</h3>
                                        <span>CEO at Envato</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="acas-item">

                                <img src="~/img/about-img/woman2.png" alt="">

                                <div class="acas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="acas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="acas-info">
                                        <h3>Michel John</h3>
                                        <span>CEO at Envato</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>