@{
    ViewData["Title"] = "About Page";
}

<main>
    <section id="discovered">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="d-texts">
                        <span class="above-title">How we are Founded</span>
                        <h2>Take your business to the next level</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.
                        </p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <p>Every month they moved their money the old way – which wasted their time and money. So they invented a beautifully simple workaround that became a billion-dollar business.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="d-img img-thumbnail">
                        <img src="~/img/about-img/about-img1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="featured-by">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="f-title">
                        <h3>Featured by:</h3>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="f-carusel owl-carousel owl-theme owl-loaded">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item"><img src="~/img/about-img/partners/partner-1.png" alt=""></div>
                                <div class="owl-item"><img src="~/img/about-img/partners/partner-2.png" alt=""></div>
                                <div class="owl-item"><img src="~/img/about-img/partners/partner-3.png" alt=""></div>
                                <div class="owl-item"><img src="~/img/about-img/partners/partner-4.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="video" class="about-video">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title">
                        <h2>Why Choose Us To Watch This Video Know More</h2>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="video">
                        <img class="video-img" src="~/img/Home-Img/video-bg.jpeg" alt="">
                        <a class="play-btn video-play-btn" href="~/https://www.youtube.com/watch?v=HmfJqm9P7Ks"><i class="fas fa-play"></i></a>
                        <div class="shape-1 shapes">
                            <img src="~/img/shapes/shape-1.png" alt="">
                        </div>
                        <div class="shape-2 shapes">
                            <img src="~/img/shapes/shape-2.png" alt="">
                        </div>
                        <div class="shape-3 shapes">
                            <img src="~/img/shapes/shape-3.png" alt="">
                        </div>
                        <div class="shape-4 shapes">
                            <img src="~/img/shapes/shape-4.png" alt="">
                        </div>
                        <div class="shape-5 shapes">
                            <img src="~/img/shapes/shape-5.png" alt="">
                        </div>
                        <div class="shape-6 shapes">
                            <img src="~/img/shapes/shape-6.png" alt="">
                        </div>
                    </div>
                    <div class="v-counters">
                        <div class=" wrapperforslide">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-lg-3">
                                    <div class="v-counter-item">
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Downloaded</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                    <div class="v-counter-item">
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Feedback</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                    <div class="v-counter-item">
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Workers</p>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-lg-3">
                                    <div class="v-counter-item">
                                        <h3><span class="odometer odospan"></span><span class="plus"> +</span></h3>
                                        <p>Contributors</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="questions">
                                    <h3>Have any question about us?</h3>
                                    <p>Don't hesitate to contact us.</p>
                                    <a id="import" href="~/#"><i class="fas fa-pencil-alt"></i>Contact Us</a>
                                </div>
                            </div>

                        </div>
                        <div class="shape-map shapes" id="shape-map"><img src="~/img/shapes/shape-map.png" alt=""></div>
                        <div class="shape-7 shapes"><img src="~/img/shapes/shape-7.png" alt=""></div>
                        <div class="shape-8 shapes"><img src="~/img/shapes/shape-8.png" alt=""></div>
                        <div class="shape-9 shapes"><img src="~/img/shapes/shape-9.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experts" class="about-expetrs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="experts-title">
                        <h2>Meet Our experts always ready to help you</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-man.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Alex Maxwel</h3>
                            <span class="colored-span">CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-girl.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Sarah Taylor</h3>
                            <span class="colored-span">UX/UI Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/blonde-mature.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Lee Munroe</h3>
                            <span class="colored-span">Web Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="expert">
                        <div class="expert-img">
                            <img src="~/img/about-img/maniac.jpeg" alt="">
                            <ul class="socials">
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="expert-info">
                            <h3>Calvin Klein</h3>
                            <span class="colored-span">Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="mobile-app">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5">
                    <div class="mobile-app-img">
                        <img src="~/img/about-img/mobile-app-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-lg-7">
                    <div class="mobile-app-texts">
                        <span id="apptitle">Download App</span>
                        <h2>Supporting your customers on the go with our mobile app</h2>
                        <div class="appstores">
                            <a href="~/#"><i class="fab fa-apple"></i> Download on the <span>Apple Store</span></a>
                            <a href="~/#"><i class="fab fa-google-play"></i></i> Get it on <span>Google Play</span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-clients-about-strax">
        <div class="container">
            <div class="acas-title">
                <h2>Whats Our Clients Said About<span> Strax</span></h2>
            </div>
            <div class="acas-carusel owl-carousel owl-theme owl-loaded">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                            <div class="acas-item">

                                <img src="~/img/about-img/woman1.png" alt="">

                                <div class="acas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="acas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="acas-info">
                                        <h3>Michel John</h3>
                                        <span>CEO at Envato</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="acas-item">

                                <img src="~/img/about-img/woman2.png" alt="">

                                <div class="acas-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                                    <div class="acas-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="acas-info">
                                        <h3>Michel John</h3>
                                        <span>CEO at Envato</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="practice" class="about-practice">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="full-practice">
                        <h2>Practice active listening and follow through</h2>
                        <p>Qualify your leads & recognize the value of word your customer will love you</p>
                        <a href="~/#"><i class="fab fa-hotjar"></i>Try It Free Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-10 shapes">
            <img src="~/img/shapes/shape-10.png" alt="">
        </div>
        <div class="shape-7 shapes">
            <img src="~/img/shapes/shape-7.png" alt="">
        </div>
        <div class="shape-11 shapes">
            <img src="~/img/shapes/shape-11.png" alt="">
        </div>
        <div class="shape-12 shapes">
            <img src="~/img/shapes/shape-12.png" alt="">
        </div>
    </section>
</main>
